/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    list-style-type: none;
    list-style: none;

    /* font in mediahuis css */
    /* font-family: sans-serif; */

    object-fit: cover;
}

a {
    text-decoration: none;
    color: black;
}


/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 4em;

    /* background-color met classes */
}

/* MAIN */
main {
    /* MAIN INDELEN */
    display: grid;
    grid-template-areas:
    "week week"
    "tijd section";
    

    /* WEEK EN TIJD LIST */
    .week {
        grid-area: week;
    
        display: flex;
        flex-direction: row;

        position: sticky;
        top: 0em;
        z-index: 10;
        height: min-content;

        /* overflow-x: auto;
        overflow-y: hidden; */

        li {
            padding: 0.5em;
            margin-top: 0.1em;
            border: 1px solid black;
            border-left: none;
        }

        li:first-child {
            border-left: 1px solid black;
            margin-left: 2em;
        }

        li:last-child {
            margin-right: 2em;
        }
    }

    .tijd {
        grid-area: tijd;

        li {
            padding-top: 1em;
            padding-bottom: 1em;
            margin-left: 1.5em;
        }

        li::after {
            content: "- - - - -";
            display: block;
            transform-origin: top left;
            transform: rotate(90deg) translateY(-130%);
        }

        li:last-child::after {
            content: "";
        }
    }

    /* week en tijd is niet te zien totdat een details open gaat */
    .hidden {
        display: none;
    }

    details {
        grid-area: section;

        summary {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2em;
            gap: 1em;

            img{
                width: 10em;
                height: 10em;
                box-shadow: #0091ff 4px 4px 4px 1px;
            }

            /* span bold met mediahuis css */
        }

        /* PROGRAMMA KAARTJES */
        section {
            article {
                border: 1px solid black;

                display: grid;
                grid-template-areas: 
                "pic titel"
                "info info"
                "dj link";

                .titel {
                    grid-area: titel;
                }

                .profile_picture {
                    grid-area: pic;

                    width: 7em;
                    border: 1px solid #000000;
                    border-radius: 10px;
                    height: auto;
                    object-fit: cover;
                }

                .info {
                    grid-area: info;

                    max-width: 11em;
                    justify-self: center;
                }

                .dj {
                    grid-area: dj;
                }

                .link {
                    grid-area: link;
                }
            }
        }
    }

    /* als details open is is de summary img niet meer op beeld */
    details[open] {
        summary {
            display: none;
        }
    }
}